# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.log

# virtual environments
env
venv
.env
.flaskenv

# vscode
.vscode/